@model PokerGame.Library.Game

@{
    ViewBag.Title = "Home Page";
}
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
            <ul class="players cf">@foreach (var player in Model.Players)
                {
                    <li class="@player.Name.ToLower()">
                        <div class="playerName">@player.Name - @player.BestFinalHand</div>
                        <span class="card @player.HoleCards[0].CardClass"></span>
                        <span class="card @player.HoleCards[1].CardClass"></span> 
                    </li>
                }
            </ul>
            <ul class="community-cards cf">
                <div>Communuity Cards</div>
                @foreach (var card in Model.CommunityCards)
                {
                    <li><span class="card @card.CardClass"></span></li>
                }
            </ul>
            
            <ul>
                @foreach (var card in Model.Deck)
                {
                    <li>@card.CardValue</li>
                }
            </ul>
        </hgroup>
    </div>
</section>


